<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Monaco Editor 示例</title>
    <!-- 引入 Monaco Editor 的样式和脚本 -->
    <!-- 
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.46.0/min/vs/editor/editor.main.min.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.46.0/min/vs/loader.min.js"></script>
        <script>
            require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.46.0/min/vs' } });
            require(['vs/editor/editor.main'], function () {
                // 初始化编辑器
                const editor = monaco.editor.create(document.getElementById('editor'), {
                    value: `// 示例 C++ 代码
                    #include <iostream>
                        int main() {
                            int a = 10;
                            int* p = &a;
                            std::cout << *p << std::endl;
                            return 0;
                        }`,
                        language: 'cpp',
                        theme: 'vs-dark',
                        lineNumbers: 'on'
                    });
                });
            </script>
    -->
</head>

<style>
    /* 断点红点 */
    .custom-breakpoint {
        background-color: #ff4444;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin-left: 4px;
    }

    /* 当前执行行高亮 */
    .custom-current-line {
        background-color: rgba(255, 215, 0, 0.2);
        border-left: 3px solid #ffd700;
    }

    /* 变量提示 */
    .custom-variable-hint {
        color: #66cc99;
        font-size: 12px;
        opacity: 0.8;
    }
</style>


<body>
    <!-- 编辑器容器 -->
    <div id="editor" style="width: 800px; height: 600px;"></div>

    <!-- 引用 Webpack 打包后的 JS 文件 -->
    <script src="{{ url_for('static', filename='dist/editor.js') }}"></script>
</body>

</html>